
@import url(https://fonts.googleapis.com/css?family=VT323);
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

@-webkit-keyframes scroll {
    0% {
        height: 0
    }
    100% {
        height: 100%;
    }
}

@keyframes scroll {
    0% {
        height: 0
    }
    100% {
        height: 100%;
    }
}

@-webkit-keyframes type {
    from {
        width: 0;
    }
}

@keyframes type {
    from {
        width: 0;
    }
}

@-webkit-keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@-webkit-keyframes blink {
    to {
        opacity: .0;
        filter: alpha(opacity=0);
    }
}

@keyframes blink {
    to {
        opacity: .0;
        filter: alpha(opacity=0);
    }
}

@-webkit-keyframes scan {
    from {
        top: 0
    }
    to {
        top: 100%
    }
}

@keyframes scan {
    from {
        top: 0
    }
    to {
        top: 100%
    }
}

@-webkit-keyframes flicker {
    0% {
        opacity: 0.15795;
        filter: alpha(opacity=15)
    }
    5% {
        opacity: 0.31511;
        filter: alpha(opacity=31)
    }
    10% {
        opacity: 0.94554;
        filter: alpha(opacity=94)
    }
    15% {
        opacity: 0.2469;
        filter: alpha(opacity=24)
    }
    20% {
        opacity: 0.62031;
        filter: alpha(opacity=62)
    }
    25% {
        opacity: 0.0293;
        filter: alpha(opacity=2)
    }
    30% {
        opacity: 0.00899;
        filter: alpha(opacity=0)
    }
    35% {
        opacity: 0.5344;
        filter: alpha(opacity=53)
    }
    40% {
        opacity: 0.12778;
        filter: alpha(opacity=12)
    }
    45% {
        opacity: 0.52042;
        filter: alpha(opacity=52)
    }
    50% {
        opacity: 0.3823;
        filter: alpha(opacity=38)
    }
    55% {
        opacity: 0.2198;
        filter: alpha(opacity=21)
    }
    60% {
        opacity: 0.9383;
        filter: alpha(opacity=93)
    }
    65% {
        opacity: 0.86615;
        filter: alpha(opacity=86)
    }
    70% {
        opacity: 0.68695;
        filter: alpha(opacity=68)
    }
    75% {
        opacity: 0.55749;
        filter: alpha(opacity=55)
    }
    80% {
        opacity: 0.96984;
        filter: alpha(opacity=96)
    }
    85% {
        opacity: 0.0361;
        filter: alpha(opacity=3)
    }
    90% {
        opacity: 0.24467;
        filter: alpha(opacity=24)
    }
    95% {
        opacity: 0.08351;
        filter: alpha(opacity=8)
    }
    100% {
        opacity: 0.54813;
        filter: alpha(opacity=54)
    }
}

@keyframes flicker {
    0% {
        opacity: 0.15795;
        filter: alpha(opacity=15)
    }
    5% {
        opacity: 0.31511;
        filter: alpha(opacity=31)
    }
    10% {
        opacity: 0.94554;
        filter: alpha(opacity=94)
    }
    15% {
        opacity: 0.2469;
        filter: alpha(opacity=24)
    }
    20% {
        opacity: 0.62031;
        filter: alpha(opacity=62)
    }
    25% {
        opacity: 0.0293;
        filter: alpha(opacity=2)
    }
    30% {
        opacity: 0.00899;
        filter: alpha(opacity=0)
    }
    35% {
        opacity: 0.5344;
        filter: alpha(opacity=53)
    }
    40% {
        opacity: 0.12778;
        filter: alpha(opacity=12)
    }
    45% {
        opacity: 0.52042;
        filter: alpha(opacity=52)
    }
    50% {
        opacity: 0.3823;
        filter: alpha(opacity=38)
    }
    55% {
        opacity: 0.2198;
        filter: alpha(opacity=21)
    }
    60% {
        opacity: 0.9383;
        filter: alpha(opacity=93)
    }
    65% {
        opacity: 0.86615;
        filter: alpha(opacity=86)
    }
    70% {
        opacity: 0.68695;
        filter: alpha(opacity=68)
    }
    75% {
        opacity: 0.55749;
        filter: alpha(opacity=55)
    }
    80% {
        opacity: 0.96984;
        filter: alpha(opacity=96)
    }
    85% {
        opacity: 0.0361;
        filter: alpha(opacity=3)
    }
    90% {
        opacity: 0.24467;
        filter: alpha(opacity=24)
    }
    95% {
        opacity: 0.08351;
        filter: alpha(opacity=8)
    }
    100% {
        opacity: 0.54813;
        filter: alpha(opacity=54)
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    background: #383838;
    color: #00dd00;
    font-size: 64.5%;
    font-size: 1.4em;
    font-family: 'VT323', Courier;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3 h4, h5, h6 {
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

p {
    line-height: 100%;
    margin: 0;
}

span {
    -webkit-animation: blink 1s infinite;
    animation: blink 1s infinite
}

ul {
    list-style: none;
}

ul a:before,
p a:before {
    color: #00dd00;
    content: ' [ ';
}

ul a:after,
p a:after {
    color: #00dd00;
    content: ' ] ';
}

header.site {
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

nav.site {
    margin: 0 0 40px 0;
}

nav.site ul {
    padding: 0;
}

nav.site ul li {
    display: inline-block;
}

.overlay {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
}

.overlay:before {
    background: -webkit-linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), -webkit-linear-gradient(0deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
    background: linear-gradient(#101010 50%, rgba(16, 16, 16, 0.2) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
    background-size: 100% 3px, 6px 100%;
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.overlay:after {
    -webkit-animation: flicker 0.30s infinite;
    animation: flicker 0.30s infinite;
    background: rgba(16, 16, 16, 0.2);
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.col {
    float: left;
    padding: 0 20px;
}

.col.two {
    width: auto;
}

.wrapper {
    -webkit-animation: scroll 5s 1;
    animation: scroll 5s 1;
    margin: 0;
    overflow: hidden;
    padding: 0;
    z-index: 3;
}

.content {
    -webkit-animation: scroll 3s 1;
    animation: scroll 3s 1;
    overflow: hidden;
    padding: 40px;
    position: relative;
    width: 95%;
}

#logo-v {
    display: block;
    height: 200px;
    margin: 0 auto;
    width: 200px;
    background: url("../assets/404logo.png") center center no-repeat;
    background-size: 200px auto;
}

img.pip-hero {
    display: block;
    float: left;
    height: auto;
    margin: 5px 10px 5px 0;
    width: 120px;
}

form {
}

label {
    clear: left;
    display: block;
    float: left;
    margin-right: 10px;
    padding-top: 5px;
}

input[type=text],
textarea {
    background: transparent;
    border: none;
    color: #00dd00;
    display: block;
    float: left;
    font-family: 'VT323', Courier;
    font-size: 1.2em;
    position: relative;
    width: 80%;
    z-index: 10
}

textarea {
    margin-bottom: 20px;
    overflow: auto;
    resize: none;
}

input[type=text]:focus,
textarea:focus,
input[type=submit]:focus,
a.button:focus {
    outline: 0;
}

input[type=submit],
a.button {
    background: transparent;
    border: 1px solid #00dd00;
    clear: both;
    color: #00dd00;
    cursor: hand;
    display: inline-block;
    font-family: 'VT323', Courier;
    font-size: 1em;
    margin-bottom: 20px;
    opacity: 0.25;
    filter: alpha(opacity=25);
    padding: 10px 100px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
}

input[type=submit]:hover,
a.button:hover {
    background: #00dd00;
    color: #383838;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.expandingArea {
    position: relative
}

.scanline {
    -webkit-animation: scroll 10s 5s infinite;
    animation: scroll 10s 5s infinite;
    background: -webkit-linear-gradient(top, rgba(0, 221, 0, 0) 0%, rgba(0, 221, 0, 1) 50%, rgba(0, 221, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 221, 0, 0) 0%, rgba(0, 221, 0, 1) 50%, rgba(0, 221, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 221, 0, 0) 0%, rgba(0, 221, 0, 1) 50%, rgba(0, 221, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 0, 221, 0)', endColorstr='rgba(0, 0, 221, 0)', GradientType=0);
    display: block;
    height: 20px;
    opacity: 0.05;
    filter: alpha(opacity=0.05);
    position: absolute;
    left: 0;
    right: 0;
    top: -5%;
    z-index: 2;
}

.clear {
    clear: both;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.upper {
    text-transform: uppercase;
}

.contentWrapper {
    width: 100%;
    height: 100%;
}

.LogoWrap {
}

em{
    background: #00DD00;
    color: #393840;
}



/* ------------- Terminal ------------- */
#container {
    /*padding: .1em 1.5em 1em 1em;*/
}
#container output {
    clear: both;
    width: 100%;
}
#container output h3 {
    margin: 0;
}
#container output pre {
    margin: 0;
}
.input-line {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;
    display: box;
    box-orient: horizontal;
    box-align: stretch;
    clear: both;
}
.input-line > div:nth-child(2) {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}
.prompt {
    white-space: nowrap;
    color: #00DD00;
    margin-right: 7px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-orient: vertical;
    display: box;
    box-pack: center;
    box-orient: vertical;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.cmdline {
    outline: none;
    background-color: transparent;
    margin: 0;
    width: 100%;
    font: inherit;
    border: none;
    color: inherit;
}
.ls-files {
    height: 2em;
    -webkit-column-width: 100px;
    -moz-column-width: 100px;
    -o-column-width: 100px;
    column-width: 100px;
}


/* Make a custom blinking caret */
.blinky {
    position: absolute;
    width: 20px;
    height: 1em;
    display: inline-block;
    background: #00DD00;
    /* Make it blink! */
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
    margin-left: -2px;
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
}
